body{
    font-family: sans-serif;
    text-align: center;
}

#website{
    width: 75%;
    height: 100vh;
    margin: 0px auto;
    border: 1px solid #ccc;
}

#header{
    background: blue;
    color: white;
}

#menu{
    background: lightblue;
    color: black;
}

#conten{
    background: #eee;
    article{
        background: #ccc;
        border: 1px solid #555;
    }
}

#lateral{
    background: tomato;
    color: white;
}

#footer{
    background: black;
    color: white;
}